.editorconfig
.htaccess
.htaccess.sample
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
auth.json
auth.json.sample
backup.sql
bin/
dev/
devbackup.zip
generated/
grunt-config.json
grunt-config.json.sample
index.php
lib/
m2-hotfixes/
nginx.conf
nginx.conf.sample
package.json
package.json.sample
php.ini
phpserver/
pub/
setup/
var/
vendor/

