<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Session">
        <arguments>
            <argument name="defaultSession" xsi:type="array">
                <item name="custom_session" xsi:type="object">Exinent\Checkout\Model\Session</item>
            </argument>
        </arguments>
    </type>
</config>