<?xml version="1.0"?>
<!--
/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for the license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pronko" translate="label" sortOrder="10">
            <label>pronko</label>
        </tab>
        <section id="pronko_bing" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>pronko</tab>
            <label>Bing Ads</label>
            <resource>Pronko_Bing::config</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tag_id" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag ID</label>
                    <comment>From the Campaigns page, and then on the left pane, click Conversion Tracking and then paste the ID here.</comment>
                </field>
                <field id="convert_to_currency" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Conversion Currency</label>
                    <comment>The conversion value to be reported based on the conversion currency.</comment>
                    <source_model>Pronko\Bing\Ui\Source\Currency</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
