<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Cart\Crosssell" type="Exinent\Checkout\Block\Cart\Crosssell" />
    <preference for="Magento\Checkout\Model\Type\Onepage" type="Exinent\Checkout\Model\Type\Onepage" />
    <preference for="Magento\Checkout\Model\Session" type="Exinent\Checkout\Model\Session" />
    <preference for="Magento\Checkout\Controller\Onepage\SaveOrder" type="Exinent\Checkout\Controller\Onepage\SaveOrder" />
    <preference for="Magento\Checkout\Controller\Index\Index" type="Exinent\Checkout\Controller\Index\Index" />
</config>